.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: #7c3aed37;
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  padding: 1rem 1.5rem;
}

.item button {
  outline: none;
  cursor: pointer;
  border: 1px solid #dc2626;
  color: #dc2626;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
}

.item img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
